<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>M-GALLARY|编辑画品</title>
	<link type="text/css" rel="stylesheet" href="./View/css/common.css">
	<link type="text/css" rel="stylesheet" href="./View/css/add.css">
</head>
<body>
<div class="header">
	<div class="logo f1">
		<a href="index.php"><img src="./View/image/logo.png"></a>
	</div>
	<div class="auth fr">
		<ul>
			<li><a href="login.php"><?php if(isset($username)){echo "欢迎回来,$username"; }else{ echo '登陆'; } ?></a></li>
			<?php if(isset($username)){echo '<li><a href="login_out.php">切换用户</a></li>'; } ?>
		</ul>
	</div>
</div>
<div class="content">
	<div class="addwrap">
		<div class="addl fl">
			<header>编辑画品</header>
			<form name="publish-form" id="publish-form" action="edit.php" method="post" enctype="multipart/form-data">
				<input type="hidden" value="<?php echo $id;?>" name="id">
				<div class="additem">
					<label id="for-name">画品名称</label><input type="text" name="name" id="name" value="<?php echo $name; ?>">
				</div>
				<div class="additem">
					<label id="for-price">价值</label><input type="text" name="price" id="price" value="<?php echo $price; ?>">
				</div>
				<div class="additem">
					<!-- 使用accept html5属性 声明仅接受png gif jpeg格式的文件                -->

					<label id="for-img">缩略图:</label><br><img src="<?php echo config('domain').$img; ?>" width="300" style="margin-left: 120px">
					<br>
					<label id="for-file">重新选择画品</label><input type="file" accept="image/png,image/gif,image/jpeg,image/jpg" id="file" name="file">

				</div>
				<div class="additem textwrap">
					<label class="ptop" id="for-des">画品简介</label><textarea id="des" name="des"><?php echo $desc; ?></textarea>
				</div>
				<div class="additem textwrap">
					<label class="ptop" id="for-content">画品详情</label>
					<div style="margin-left: 120px" id="container">
						<textarea id="content" name="content" ><?php echo $content; ?></textarea>
					</div>
				</div>
				<div style="margin-top: 20px">
					<button type="submit">修改</button>
				</div>

			</form>
		</div>
		<div class="addr fr">
			<img src="./View/image/index_banner.png">
		</div>
	</div>

</div>
<div class="footer">
	<p><span>M-GALLARY</span>©2018 powered by painting.hjn.ink</p>
</div>
</body>
<script src="./View/js/jquery-1.10.2.min.js"></script>
<script src="./View/js/layer/layer.js"></script>
<script src="./View/js/kindeditor/kindeditor-all-min.js"></script>
<script src="./View/js/kindeditor/lang/zh_CN.js"></script>
<script>
    var K = KindEditor;
    K.create('#content', {
        width      : '475px',
        height     : '400px',
        minWidth   : '30px',
        minHeight  : '50px',
        items      : [
            'undo', 'redo', '|',
            'justifyleft', 'justifycenter', 'justifyright', 'clearhtml',
            'fontsize', 'forecolor', 'bold',
            'italic', 'underline', 'link', 'unlink', '|'
            , 'fullscreen'
        ],
        afterCreate: function () {
            this.sync();
        },
        afterChange: function () {
            //编辑器失去焦点时直接同步，可以取到值
            this.sync();
        }
    });
</script>

<script>
    $(function () {
        $('#publish-form').submit(function () {
            var name = $('#name').val(),
                price = $('#price').val(),
                file = $('#file').val(),
                des = $('#des').val(),
                content = $('#content').val();
            if (name.length <= 0 || name.length > 100) {
                layer.tips('画品名应在1-100字符之内', '#name', {time: 2000, tips: 2});
                $('#name').focus();
                return false;
            }
            //验证为正整数
            if (!/^[1-9]\d{0,8}$/.test(price)) {
                layer.tips('请输入最多9位正整数', '#price', {time: 2000, tips: 2});
                $('#price').focus();
                return false;
            }

            if (des.length <= 0 || des.length >= 255) {
                layer.tips('画品简介应在1-100字符之内', '#content', {time: 2000, tips: 2});
                $('#des').focus();
                return false;
            }

            if (content.length <= 0) {
                layer.tips('请输入画品详情信息', '#container', {time: 2000, tips: 3});
                $('#content').focus();
                return false;
            }
            return true;

        })
    })
</script>
</html>


